html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
}
body {
    background: transparent url('./img/background.jpg') repeat;
}

.hide {
    display: none;
}
.car, .enemy {
    background: transparent url('./img/player.png') center/cover no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 125px;
    z-index: 10;
}
.gamearea {
    margin: auto;
    background: #222;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
    z-index: 1;
}
.start {
    position: absolute;
    padding: 10px 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    background: #1eb940;
    z-index: 200;
}
.score {
    text-align: center;
    background: #2769ad;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    min-height: 40px;
    box-sizing: border-box;
}